/* src/ConfirmationPage.css */

body {
    /*background-color: #fefcf3;*/
    background-image: url('./images/2.PNG');
    /*background-image: url(https://i.pinimg.com/originals/df/62/69/df62698025f98741148bbf5769f8fc35.jpg);*/
    background-size: cover;
    background-position: bottom;
    height: 100%;
    width: 100%;
}

.confirmation-page {
    /*background-image: url('./images/2.PNG');*/
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    font-family: Arial, sans-serif;
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.file-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.file-table th, .file-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.file-table th {
    background-color: #333;
    color: black;
}

.input-section {
    margin-top: 20px;
}

textarea {
    width: 100%;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.delete-all-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.delete-all-button:hover {
    background-color: darkred;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.file-table {
    width: 100%;
    border-collapse: collapse;
}

.file-table th, .file-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.file-table th {
    background-color: #f4f4f4;
}

@keyframes resize {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.circle {
    border-radius: 50%;
    background: rgba(241, 78, 149, 0.8);
    height: 2em;
    width: 3em;
    display: flex;
    justify-content: center;
    padding-top: 1em;
    color: white;
    animation: resize 1s ease-in-out infinite;
}

.circle div:nth-child(1) {
    position: absolute;
    font-size: 30px;
    margin-top: -0.3em;
}

.circle div:nth-child(2) {
    position: absolute;
    font-size: 15px;
    margin-top: 1.5em;
    color: #ffffff94;
}

.btn {
    padding: 15px 20px !important;
    cursor: pointer;
    border: 1px solid #00000038;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: pink;
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: "Work Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.btn:hover {
    background-color: #f9f9f9;
}

.name {
    height: 50px;
    font-size: calc(1.7em + 2vw); /* Example: Adjusts the font size relative to viewport width */
    font-family: "Sacramento", Arial, serif;
}

.date-time {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: white;

    position: absolute;
    width: 100%;
}

.date-time p {
    margin-bottom: 1em !important;
    font-family: 'Sacramento' !important;
    font-weight: bolder;
}

@media screen and (max-width: 500px) {
    /*.name {*/
    /*    font-size: 30px;*/
    /*    height: 10px;*/
    /*}*/
}